/* @import url('https://fonts.cdnfonts.com/css/lt-asus-print'); */

.bookDisplayContainer {
  border: black 4px solid;
}

.allAwesomeBooks {
  margin: 2%;
}

.allAwesomeBooks h1 {
  text-align: center;
}

.book-div {
  font-family: 'LT Asus Print', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2rem;
  font-size: 23px;
  font-weight: 700;
  height: auto;
}

.book-div:nth-child(odd) {
  background: #b9bdc1;
}

.remove {
  font-family: 'LT Asus Print', sans-serif;
  background: white;
  color: black;
  border: black 3px solid;
  box-shadow: 2px 3px;
  font-weight: 600;
  height: 2rem;
}

.add-new-book {
  font-family: 'LT Asus Print', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.title,
.author,
.add-btn {
  border: black 2px solid;
  font-family: 'LT Asus Print', sans-serif;
  font-weight: bold;
}

.black-bar {
  display: block;
  background: black;
  height: 3px;
  width: 5rem;
}

.add-btn {
  border: black 3px solid;
  box-shadow: 2px 3px;
}

.navbar {
  border: black 4px solid;
  margin: 2%;
}

.awesome {
  margin-left: 10px;
}

.navlist ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: auto;
}

.navlist {
  margin-right: 10px;
}

.list-items {
  font-size: 20px;
  font-weight: 700;
}

.list-items a:link,
.list-items a:visited {
  text-decoration: none;
  color: black;
}

.list-items a:hover,
.list-items a:active {
  color: blue;
}

footer {
  margin: 2%;
  border: black 4px solid;
  padding-left: 20px;
  height: 70px;
  align-items: center;
}

footer p {
  margin: auto;
  font-size: 23px;
  font-weight: 700;
  padding: 16px;
}

.contact {
  margin: 80px 20%;
  font-size: 18px;
  font-weight: 600;
  display: none;
}

#addBook {
  display: none;
}
